.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items {
  padding-left: 10px;
}
.logo {
  width: 100px;
  height: 100px;
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
